.Results {
  text-align: left;
}

.Keyword {
  font-weight: 600;
  font-size: 40px;
  text-transform: capitalize;
  text-decoration: underline;
}

section {
  background-color: rgba(203, 203, 203, 0.5);
  padding: 30px;
  border-radius: 7px;
  border-bottom: 16px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
